@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Oliver Regular';
  src: url('/Oliver-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Figtree Bold';
  src: url('/Figtree-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 14, 14, 16;
  --background-end-rgb: 14, 14, 16;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #ffffff;
  margin: 0px auto;
  overflow: hidden;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #18181B;
}

::-webkit-scrollbar-thumb {
  background: #9146FF;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7c3aed;
}

@keyframes fadeInOut {
  0% { 
    opacity: 0; 
    transform: scale(0.8); 
  }
  10% { 
    opacity: 1; 
    transform: scale(1); 
  }
  90% { 
    opacity: 1; 
    transform: scale(1); 
  }
  100% { 
    opacity: 0; 
    transform: scale(0.8); 
  }
}

.animate-fade-in-out {
  animation: fadeInOut 5s ease-in-out;
}

@keyframes wingFlapLeft {
  0%, 100% { 
    transform: translateX(10px) translateY(-24px) rotate(0deg);
  }
  50% { 
    transform: translateX(10px) translateY(-16px) rotate(-16deg);
  }
}

@keyframes wingFlapRight {
  0%, 100% { 
    transform: scaleX(-1) translateX(10px) translateY(-24px) rotate(0deg);
  }
  50% { 
    transform: scaleX(-1) translateX(10px) translateY(-16px) rotate(-16deg);
  }
}

.animate-wing-flap-left {
  animation: wingFlapLeft 1s ease-in-out;
  transform-origin: center center;
}

.animate-wing-flap-right {
  animation: wingFlapRight 1s ease-in-out;
  transform-origin: center center;
}

.pill {
  --r: 1rem;
  --b: 4px;
  position: relative;
}

